td,th{ border-top: 3px double red;
       border-bottom: 3px dotted blue;
       border-left: 3px dashed orange;
       border-right: 3px solid green;
       border-radius: 5px;
       box-shadow: 5px 5px 10px blue;

}
caption{background-color: blue;
        color:white;}