* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, hr {
    color: orangered;
}

li {
    text-decoration: underline;
    margin-left: 1cm;
}

ul {
    text-align: left;
}

table {
    border: 2px solid blue;
    width: 100%;
    border-radius: 10px;
    background-color: #549fff1f;
}

tr th, tr td {
    border: 2px dotted black;
}

tbody tr td {
    text-align: left;
}

.centralizar {
    text-align: center;
}

.anular {
    border: 0cm;
}

img {
    width: 3cm;
    margin-right: 1cm;
}