tr th{
    border: 1px double;
}

caption {
    font-size: x-large;
    border: 1px double;
    font-weight: bold;
    background-color: lime;
}

.cinza {
    background-color: gray;
}

#ciano {
    background-color: rgb(70, 255, 169);
}